<p>sample works!</p>
<!DOCTYPE html>
<html>

<head>
  <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
  <script data-require="bootstrap@4.0.5" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
</head>
<body>
  <p>item-home works!</p>
  
  <div class="card-columns">
      <!--<div class="card" *ngFor="let item of itemResponse">
        <img class="card-img-top" [src]="item.image" [alt]="item.title" />
        <div class="card-block">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
            Uploaded by {{ item.id }} on
            {{ item.category | date: "medium" }}
          </p>
          <p class="card-text">{{ item.name }}</p>
          <hr>
          <p class="card-text">
            <small class="text-muted">{{ item.name }}</small>
          </p>
        </div>
      </div>-->
      <div class="card" *ngFor="let item of itemResponse">
          <div class="embed-responsive embed-responsive-1by1"> <!--1by1 / 16by9 / 21by9--> 
             <img alt="Card image cap" class="card-img-top embed-responsive-item" [src]="item.image"/>
          </div>
          <div class="card-block">
            <h4 class="card-title">{{ item.name }} <br> </h4>
            <h5> <p class="card-text">
              <s *ngIf="item.old_price !== 0">${{ item.old_price }}</s> 
              ${{ item.new_price }}, {{ item.quantity }}</p></h5>            
            <h5> <p class="card-text"> </p></h5>
            <h5><p class="card-text">
                <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="false">
                </ngb-rating> 
                {{ item.total_reviews }} reviews</p>
            </h5>
            <div class="counter">
                <div class="counter_container">
                  <button (click)="decrement(item.id, item.count);" class="counter_button">
                    -
                  </button>
                  <input matInput disabled class="counter_input" [value]="getCounterValue(item.id)">
                  <button (click)="increment(item.id, item.count);" class="counter_button">
                    +
                  </button>
                </div>
              </div>
          </div>
        </div>
    </div>
</body>

